
* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body {
    background: linear-gradient(135deg, #f5f7fa 0%, #e4e8ed 100%);
    color: #212529;
    line-height: 1.6;
    overflow-x: hidden;
}
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* header */
header {
    background: linear-gradient(135deg, #1d428a, #0a2a5a);
    color: white;
    padding: 19px 0;
    box-shadow:  0 4px 12px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 100;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-icon{
    width: 40px;
    height: 40px;
    background: #ffc72c;
    border-radius: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.logo-icon::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid #1d428a;
    border-radius: 50%;
}
.logo-icon i {
    font-size: 24px;
    color: #1d428a;
}
.logo-text {
    display: flex;
    flex-direction: column;
}
.logo h1 {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: -0.5px;
}
.logo p {
    font-size: 12px;
    opacity: 0.8;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 29px;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 8px 0;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
}
nav a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ffc72c;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: all 0.5s ease;
}
nav a:hover {
    color: #ffc72c;
}
nav a:hover::after {
    width: 100%;
}
/* hero section */
