body {
    background-color: #f5f7fa;
    background-image: 
        linear-gradient(135deg, rgba(29, 66, 138, 0.03) 25%, transparent 25%),
        linear-gradient(225deg, rgba(29, 66, 138, 0.03) 25%, transparent 25%),
        linear-gradient(45deg, rgba(200, 16, 46, 0.03) 25%, transparent 25%),
        linear-gradient(315deg, rgba(200, 16, 46, 0.03) 25%, transparent 25%);
    background-size: 80px 80px;
    background-position: 0 0, 0 40px, 40px -40px, -40px 0px;
    color: #212529;
    line-height: 1.6;
    overflow-x: hidden;
}

/* hero section */
.first-section{
    background: linear-gradient(
        to right,
        rgba(13, 37, 79, 0.95) 0%,
        rgba(13, 37, 79, 0.6)) 100%,
            url(formal/nba.1.png) no-repeat center/cover;
    color: white;
    text-align: left;
    position: relative;
    padding: 200px 0 80px;
    padding-top: 170px;
    padding-bottom: 170px;
}

.first-section::before {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100px;
background: linear-gradient(to top, #f5f7fa, transparent);
}

.first-section-content {
    max-width: 800px;
    margin: 0;
    text-align: left;
}

.first-section h1 {
    font-size: 56px;
    margin-bottom: 20px;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(22, 21, 21, 0.3);
}
.first-section p {
    font-size: 20px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 3px rgba(22, 21, 21, 0.3);
    opacity: 0.9;
}

/* Second Section */
.stats-title {
    text-align: center;
    margin-top: 50px;
    position: relative;
}

.stats-title h1{
    font-size: 48px;
    color: #1d428a;
    display: inline-block;
    padding-bottom: 14px;
    font-weight: 800;
    position: relative;
}
.stats-title h1::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    background: linear-gradient(90deg, #1d428a, #c8102e);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.stats-title p{
    font-size: 18px;
    color: #212529;
    margin-top: 10px;
}

.content{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}
.card{
    width: 250px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    transform: scale(1.02); 
}
.card h2  {
    z-index: 1;
    color: #1d428a;
    margin-top: -10px;
    font-size: 28px;
    font-weight: 700;
}

.card p {
    z-index: 1; 
    position: relative; 
    color: #212529;
    font-size: 16px;
    font-weight: 600;
}

.icon{
    font-size: 60px;
    margin-bottom: 20px;
    color: #0a2a5a;
    z-index: 1;
    position: relative;
}

.card::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 130%;
    background-image: linear-gradient(90deg, #1d428a, #c8102e);
    animation: rotBGimg 3s  linear infinite;
    transition: all 0.5s linear;
}

@keyframes rotBGimg {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.card::after{
    content: '';
    position: absolute;
    background: linear-gradient(to bottom right, #fafbff 0%, #cddeff 100%);
    inset: 5px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; 
}

.card:hover::after {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Mission / Visionn */
.mission-title {
    text-align: center;
    margin-top: 50px;
}

.mission-title .mission-h1{
    font-size: 48px;
    color: #ffffff;
    display: inline-block;
    padding-bottom: 14px;
    font-weight: 800;
}
.mission-title .mission-h1::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    background: linear-gradient(90deg, #c8102e, #ffc72c);
    bottom: -950px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.mission{
    background: #1d428a;
    color: #ffffff;
}

.mission-content{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
    overflow: hidden;
    width: 100%;
}

.image {
    width: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

img{
    width: 100%;
    border-radius: 15px;
    display: block;
}

.mission-content-2{
    width: 100%;
    height: 100%;   
    position: relative;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.content-2-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #1d428a, #c8102e); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 15px;
}

.content-2-text h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 800;
}

.content-2-text p {
    color: white;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.image:hover img {
    filter: blur(10px);
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.image:hover .content-2-text {
    opacity: 1;
}

.image img {
    transition: all 0.4s ease;
}

/* Creators */
.creator-title {
    text-align: center;
    margin-top: 0px;
}

.creator-title h1{
    font-size: 48px;
    color: #1d428a;
    display: inline-block;
    padding-bottom: 14px;
    font-weight: 800;
}
.creator-title h1::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    background: linear-gradient(90deg, #1d428a, #c8102e);
    bottom: -1630px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.creator-title p{
    font-size: 18px;
    color: #212529;
    margin-top: 5px;
}

.creator-content{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
    overflow: hidden;
    width: 100%;
}

.creator-content-2{
    width: 100%;
    height: 100%;   
    position: relative;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.creator-2-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #c58a8a, #ce9595); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 15px;
}

.creator-2-text h2 {
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 800;
}

.creator-2-text p {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

.image:hover .creator-2-text {
    opacity: 0.9;
}

.social-creator {
    display: flex;
    font-size: 20px;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.social-creator a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);;
    border-radius: 50%;
    transition: all 0.3s ease;
    color: white;
    flex-shrink: 0;
    text-decoration: none;
}

.social-creator a:hover {
    background-color: rgba(255, 255, 255, 0.3);;
    transform: translateY(-5px);
    color: #ffc72c;
}
.social-creator a:active {
    transform: translateY(-3px) scale(0.95);
}


